.u-section-1 .u-sheet-1 {
  min-height: 558px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-1 .u-form-1 {
  height: 313px;
  margin: 24px 256px 0 314px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 106px;
  min-width: 42px;
  margin: 41px auto 43px;
}

.u-section-1 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 156px;
    margin-left: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 46px;
    margin-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}