 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 926px;
}

.u-section-1 .u-image-1 {
  height: 783px;
  width: 667px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0 433px;
}

.u-section-1 .u-group-1 {
  width: 462px;
  min-height: 535px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -649px auto 60px 134px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 15px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 2.75rem;
  margin: 21px 0 0;
}

.u-section-1 .u-form-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-image-1 {
    height: 602px;
    width: 469px;
    margin-top: 9px;
    margin-left: 352px;
  }

  .u-section-1 .u-group-1 {
    width: 416px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-left: 209px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-1 .u-image-1 {
    height: 460px;
    width: 455px;
    margin-top: 55px;
    margin-right: 47px;
    margin-left: 53px;
  }

  .u-section-1 .u-group-1 {
    width: 431px;
    margin-top: -81px;
    margin-left: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1220px;
  }

  .u-section-1 .u-image-1 {
    height: 452px;
    width: 429px;
    margin-top: 65px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -39px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-image-1 {
    height: 322px;
    width: 296px;
    margin-top: 639px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 592px;
    width: 296px;
    margin-top: -936px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}